.logo-home
{
    color: red;
    background-color: #f9fafb;
    height: 166px;
    width: 146px;
    border-radius: 49%;
    text-align: center;
    font-size: 100px;
    margin-left: 29%;

}
.alignment-home
{
    position: absolute;
    top:14%;
    left: 27%;
}
.heading-home
{
 color:white;
 font-size: 30px;
 font-weight: bold;
 margin-left: -12%;
 font-family:cursive;
 line-height: 2;

}
.location {
    width: 220px;
    height: 28px;
    margin-left:-1%;
}
.restaurantsinput {
    height: 40px;
    width: 310px;
    color: gray;
    border: none;
    border-radius: 0px;
    font-size: 15px;
    opacity: 0.7;
    float: left;
    padding-left: 30px;
}
li {
    list-style: none;
    background-color: lightgray;
    background-image: linear-gradient(90deg, red 20px, lightgray 10px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
}

#query {
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    padding: 5px;
    font-family: calibri light;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: lightgray;
    color: gray;
    padding-left: 29px;
}

#notebooks {
    position: absolute;
    left: 38%;
    width: 350px;
    border-radius: 5px;
    max-height: 450px;
}

ul {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
}

#notebooks span {
    display: block;
    position: absolute;
    background: #FFD32E;
    bottom: -35px;
    left: -1px;
    width: 360px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}


.search {
   
    height: 35px;
    font-weight: bold;
    padding-left: 6%;
    margin-left: 2%;
    width: 301px;
}


.head{
        color: brown;
    font-size: 35px;
    line-height: 1.5;
    font-weight:bolder;
}

.row-home
{
margin-left: -11px;
}
.rectangle{
    display: inline-block;
    width: 355px;
    height: 145px;
    margin: 10px;
    box-shadow: darkgrey 10px 8px 14px 2px;
}


.left-home
{
display: inline-block;
width: 50%;
vertical-align: top;
}
.right-home
{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
}
.break
{
    color: brown;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.location {
    width: 233px;
    height: 40px;
    margin-left: 3%;
    background-color: darkgray;
}
.locationSelector {
    position: relative;
    top: -238px;
    margin-left: 27.5%;
    margin-right: 20%;
    text-align: center;
}
.locationDropdown {
    height: 40px;
    width: 245px;
    color: gray;
    border: none;
    border-radius: 0px;
    font-size: 15px;
    opacity: 0.7;
    margin-right: 21px;
    margin-bottom: 25px;
    float: left;
}
.fasSearch {
    position: absolute;
    margin-left: 3%;
    margin-top: -0.5%;
}

.subhead-home
{
    font-size: 18px;
    color:chocolate;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
    
}

.heading-home {
   font-size: 30px;
   margin-left: -12%;
    /* media queries */
    @media (max-width: 767px) {
        font-size: 23px;
        margin-left: -14%;
    }
    @media (max-width: 400px) {
        font-size: 18px;
        margin-left: -22%;
    }
  }

