.header {
    height: 74px;
    background-color: red;
}
.header-logo{
    color: red;
    background-color: #f9fafb;
    height: 51px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 39px;
    margin-left: 0%;
}
.user-group {
    float: right;
    color: white;
    margin-right: 15px;
    margin-top: -17px;
}

.login {
    display: inline-block;
}

.signup {
    display: inline-block;
    border: solid 1px white;
    padding: 5px;
    margin-left: 10px;
}
